
/* 
COLORS
Lavender Web: #DFD9E2
RED CRAYOLA: #ED254E
Maximum Blue: #62B6CB
Purple: #531CB3
Rich Black: #001011
*/

html{
    background-color: #F5F5F5;
    font-family:'Helvetica', Courier, monospace;
}

.Welcome-Title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #623CEA; 
}
.Welcome-Title h1{
    font-size: 200px;
}
/*NAV.FILL*/

nav {
    width: 100%;
    margin: 0 auto;
    background-color: #001011, .5;
    margin: -15px;
    padding: -15px;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
  }
  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #001011; /*default text color*/
    font-weight: 800;
    text-transform: uppercase;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .2s;
  }
  nav ul li a:hover {
    color: #001011; /*text color slight fade here*/
  }

  nav.fill ul li a {
    position: relative;
  }
  nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #001011; /*Start of underline color*/
    height: 1px;
  }
  nav.fill ul li a {
    transition: all 2s;
  }
  nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  nav.fill ul li a:hover {
    color: #fff; /*Font color at full box*/
    z-index: 1;
  }
  nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill .5s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }
  @-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #623CEA; /* Box Color at full size*/
    }
  }

  /*SCROLLBAR*/
  ::-webkit-scrollbar {
    width: 5px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {

    background: #531CB3;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #531CB3;
  }